.switch {
    position: relative;
    display: block;
    width: 125px;
    height: 40px;
    margin: 20px;
  }
  
.switch input {display:none;}

.triggerMessage{
    height: 40px; 
    width: 1040px;
    float: left;
    margin: 5px;
    padding: 5px;
    border:3px solid royalblue;

}

.informMessage{
    height: 50px; 
    width: 1040px;
    float: left;
    margin: 10px;
    padding: 5px;
    border:3px solid firebrick;

}

.title{
  width: 1050px;
  height: 20px;
  float: left;
  padding: 2px;
  font-size: 17px;
}

.plot{
    height: 528px; 
    width: 1050px;
    background-color: rgba(169,169,169,0.5);
    float:left;
    border: 3px solid black;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(219, 50, 54);
    -webkit-transition: .4s;
    transition: .4s;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 5px;
    bottom: 7px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: rgb(46,139,87);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(85px);
}
  
  /*------ ADDED CSS ---------*/
.on{
    display: none;
}
  
.on, .off{
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 54%;
    font-size: 13px;
    font-family: Verdana, sans-serif;
}
  
input:checked+ .slider .on{
  display: block;
}
  
input:checked + .slider .off{
  display: none;
}
  
  /*--------- END --------*/
  
  /* Rounded sliders */
.slider.round {
    border-radius: 50px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.tabheader {
    background: rgb(173, 97, 243);
    padding: 10px 32px;
    text-align: center;
}

.tabheader:active{
  background-color: #ccc;
}

.tabheader:hover{
  background-color: #440286; 
}

.numselect {
  margin-top: 10px;
  margin-left: 20px;
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  height: 29px;
  overflow: hidden;
  width: 120px;
  background-color:rgba(255,165,0, 1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.numselect select {
  background: transparent;
  background-color: rgba(255,165,0, 1);
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  width: 120px;
} 

.numselect.slate {
  background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
  height: 34px;
  width: 120px;
}

.numselect.slate select {
  border: 1px solid #ccc;
  font-size: 16px;
  height: 34px;
  width: 148px;
}

