img{
    float:left;
    margin:0px 50px;
}

#detail-name, #detail-id{
    float:middle;
    margin:0px 0px
}

#detail-id{
    padding-top: 6%;
    padding-bottom: 0%;
}

.jumbotron{
    height:300px;
}

.copyText:hover,.predict:hover {
    background: rgb(26, 62, 87); 
}
.copyText:active,.predict:active {
    background: #144E75; 
}

.lds-hourglass {
    padding-top: 20%;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    left: 50%;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }

.copyText,.predict{
    margin-top :15px;
    margin-right: 5px;
    color: rgb(255, 255, 255); 
    font-size: 15px; 
    line-height: 21px; 
    padding: 5px; 
    border-radius: 3px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
    box-shadow: rgb(36, 36, 36) 3px 3px 7px 3px;
    border: 2px solid rgb(100, 110, 164);   
}

.load {
    padding-top: 20%;
    padding-left:20%;
    display: inline-block;
    width: 64px;
    height: 64px;
    left: 50%;
}
